mixin storeCard(store = {})
  .store
    .store__hero
      .store__actions
        if user
          .store__action.store__action--heart
            form.heart(method="post" action=`/api/stores/${store.id}/heart`)
              - const heartStrings = user.hearts.map(obj=>obj.toString())
              - const heartClass = heartStrings.includes(store._id.toString())? 'heart__button--hearted':''
              button.heart__button(type="submit" name="heart" class=heartClass)
                != h.icon('heart')
        if user && store.author.equals(user._id)
          .store__action.store__action--edit
            a(href=`/stores/${store.id}/edit`)
              != h.icon('pencil')
      img(src=`/uploads/${store.photo || 'store.png'}`, alt=`${store.name}`)
      h2.title
        a(href=`/stores/${store.slug}`) #{store.name.split(' ').slice(0, 3).join(' ')}
    .store__details
      p= store.description.split(' ').slice(0, 25).join(' ')
